.header {
  width: auto;
  display: flex;
  flex-direction: row;
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}